*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

font-family: sans-serif;
}
header{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 10000;
    top: 0;
    background-color: #FFFF;
}
.logo:hover{
    color: blueviolet;

     
}
.logo{
    margin: 1rem;
}
.logo h1{
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 5px;
}
.bunner{
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: url(./ImgeSourse/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.info h1{
text-align: center;
left: 2.5rem;

}
.info h1 span{
    color: blueviolet;
    font-size: 1em;
    border: solid 3px #222;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}


.card_1{
    width: 80%;
    height: 50vh;
    margin: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: blueviolet;
   
}
img{
    transition: 1s;
}
.card_1 img:hover{
    transform: scale(1.1);
}
.Discover{
    width: 80%;
    height: 70vh;
    justify-content: center;
    display: grid;
    border-radius: 20px;
    background-color: #222;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pics img{
border-radius: 10px;
}
.pics{
    margin-left: 7rem;
}
.Discover h1{
    color: #FFFF;
    margin: 10px;
}
.footer{
    height: 50vh;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
.footer .popularLink{
    font-size: 0.6em;
    margin: 1rem;
}
header nav a{
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
header nav a:hover{
    background-color: rgb(11, 106, 114);
}
header nav span{
    margin: 1rem;
}
.btn{
background-color: blueviolet;

}
.dropdown i{
    color: blueviolet;
}
